@import "tailwindcss";

:root {
  --primaryDark: #0a484d;
  --primaryLight: #166e82;
  --accent: #e3974f;
  --textDark: #2c3e50;
  --muted: #987284;
  --background: #ffffff;
  --foreground: #2c3e50;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
